@charset "utf-8";

table,th,td {
    border: solid 2px black;
    border-collapse: collapse;
}
th,td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right:40px;
    padding-left: 40px;
}
th{
    background-color: rgb(80, 244, 247);
}
td{
    background-color: rgb(71, 243, 108);
}
table{
    margin-left: 50px;
}
body{
    background-color: rgb(244, 247, 248);
    font-family: 游ゴシック;
}
.c{
    font-size: 25px;
}
.name{
    font-size: 25px;
}
.job{
    font-size: 25px;
}
.cv{
    font-size: 25px;
}