@charset "utf-8";

.item{
    text-align: left;
    vertical-align: top;
    background-color: green;
    color: white;
}

.input{
    text-align: left;
    vertical-align: top;
    background-color: aquamarine;
}

.red {
    color: white;
    background-color: red;
    border-radius: 10%;
}

.request{
    font-size: 30%;
}